body {
  background-color: powderblue;
}

hr {
  border-style: dotted none none none;
  border-width: 5px;
  border-color: grey;
  background-color: white;
  height: 0px;
  width: 15%;
}

h1,
h3 {
  color: #56bfbf;
}
