* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: "Architects Daughter", cursive;
}
h1 {
  font-family: "Architects Daughter", cursive;
  font-size: 5rem;
  padding-top: 50px;
  color: #274242;
}
h2 {
  font-family: "Indie Flower", cursive;
  font-size: 2.5rem;
  color: #2a2d16;
}
h3 {
  font-family: "Scheherazade New", serif;
}
.pro {
  font-weight: normal;
  line-height: 2;
}
.top-container {
  background-color: rgb(137, 249, 249);
  position: relative;
  padding-top: 100px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.middle-container {
  background-color: steelblue;
}

.bottom-container {
  background-color: slategrey;
}
